*.swp
*iseconfig*
*xmsgs*
*xst*
*.gise
*.xise
*.cmd_log
*.html
*.ngc
*.ngr
*.prj
*.stx
*.syr
*.xml
*.lso
*.pad
*.bgn
*.bit
*.bld
*.ngd
*.pad
*.pcf
*.ptwx
*.twr
*.unroutes
*.ut
*.xpi
*.xwbt
*.map
*.ncd
*.map
*.ncd
*.ngm
*.xrpt
*.txt
*.csv
*_ngo
*.log
*xlnx_auto_0_xdb
*.drc
*.par
*.twx
*.map
*.mrp
*.exe
*.wdb
*.cmd
*.ini
*isim*
